
    <div class="container" *ngIf="!registered">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class=" info" *ngIf="registered">
      <h3>User Information:</h3>
      <p>Username: {{ username }}</p>
      <p>Password: {{ password }}</p>
    </div>
